<footer class="footer bg-dark py-3 mt-auto container-fluid">
    <div class="container">
        <p class="text-muted">&copy; ShopList 2020-2021</p>
        <p class="text-muted">spyridonosvasileios@gmail.com</p>
        <p class="text-muted">Συνεργαζόμενοι οργανισμοί: </p>
    </div>
</footer>