<footer class="footer bg-dark py-3 mt-auto container-fluid"
    style="position: static; bottom: 0; float: left; width: 105.6902%; margin-left: -5%;">
    <div class="container">
        <span class="text-muted">&copy;ShopList 2020</span>
    </div>
</footer>