<link rel="stylesheet" href="/stylesheets/navbar.css">

<nav class="navbar navbar-dark sticky-top navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/"><i class="fa fa-shopping-cart"></i> Shop<span
                id="listSpan">List</span></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"><i class="fa fa-home"></i>&nbsp;Αρχική</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/products"><i class="fa fa-shopping-basket"></i>&nbsp;Προϊόντα</a>
                </li>
                <li>
                    <form action="/products" class="d-flex" method="get">
                        <input class="form-control mr-2" type="text" placeholder="Αναζήτηση Προϊόντος" name="search"
                            aria-label="Αναζήτηση">
                        <button id="searchButton" class="btn" type="submit"><i
                                class="fa fa-search">&nbsp;Αναζήτηση</i></button>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <% if(!currentUser) {%>
                    <li>
                        <a class="nav-link active" href="/login"><i class="fa fa-sign-in"></i>&nbsp;Σύνδεση</a>
                    </li>
                    <li>
                        <a class="nav-link active" href="/register"><i class="fa fa-pencil"></i>&nbsp;Εγγραφή</a>
                    </li>
                    <% } else { %>
                        <li>
                            <a class="nav-link active" href="/account"><i class="fa fa-user"></i>&nbsp;Λογαριασμός</a>
                        </li>
                        <li>
                            <a class="nav-link active" href="/logout"> <i
                                    class="fa fa-sign-out"></i>&nbsp;Αποσύνδεση</a>
                        </li>
                        <% } %>
                            <li>
                                <a id="listButton" class="btn" href="/list"><i class="fa fa-list-alt"></i>&nbsp;Η Λίστα
                                    μου</a>
                            </li>

            </ul>

        </div>
    </div>
</nav>