<% layout('layouts/boilerplate.ejs') %>
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">
            <%= err.message %>
        </h4>
        <% if (process.env.NODE_ENV !=="production" ) {%>
            <p>
                <%= err.stack %>
            </p>
            <% } %>
    </div>