<% layout('layouts/boilerplate.ejs') %>

    <div class="container-fluid">
        <h1 class='mt-2' style="text-align: center;">Καλωσήρθατε στο ShopList!</h1>
        <hr>
        <h2 style="text-align: center;">Διαφημιστικά Φυλλάδια Καταστημάτων</h2>


        <ul>
            <li>
                <h3 class='mr-3'>My market</h3>
                <div style='width:100%; height:400px;'>
                    <div class='embed-responsive'>
                        <object data='https://www.mymarket.gr/Mymarket2015/media/MyMarket2015/pdf/AAsmNo24-2020_1.pdf'
                            type='application/pdf' style='width:auto; height:400px;'></object>
                    </div>
                </div>
            </li>

            <li>
                <h3 class='mx-3'>Μασούτης</h3>
                <div style='width:100%; height:400px;'>
                    <div class='embed-responsive'>
                        <object data='https://www.masoutis.gr/WcfMasPromo/upload/Promo_242.pdf' type='application/pdf'
                            style='width:auto; height:400px;'></object>
                    </div>
                </div>

            </li>
        </ul>
    </div>