.nounderline {
    text-decoration: none !important;
}

html {
  width: 100%;
  background-size: contain;
}

body {
    width: 100%;
    font-size: .875rem;
    overflow: scroll;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1; /* Behind the navbar */
    padding: 45px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    /* background-color: #bcc5d6; */
    background-color: #d7e0e0;
    font-size: 0.9vw;
  }


  .sidebar-heading {
    font-size: 1.5rem;;
  }

  /*
    IRRELEVANT APO DW KAI KATW 
  */
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }

  .sidebar .dropdown-item:hover {
    background-color: #914a5e;
  }

  .footer {
    z-index: 2;
  }

  .dropdown-item:hover {
    background-color: #914a5e;
  }
  

  /* debugging scrollable pages */
  /* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */
  
.orange-asterisk {
  color: rgb(226, 103, 2);
  font-weight: bold;
}