.navbar {
    /*background-color:#c6cfce;*/
    background-color: #d69a1c;
}

.navbar-toggler {
    background-color: #d69a1c;
    border: 5px;
    border-color: white;
    color: white;
}

.navbar-toggler-icon {
    color:white;
}

#navbarTogglerDemo03 {
    color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
    background-color: #87233f;
    border-color: #87233f;
    box-shadow: #87233f;
}

.navbar-brand {
    /* color: #662a45; */
    color:#f7f7f7;
}

.navbar-brand:hover {
    color: #f7f7f7;
}

.fa-shopping-cart {
    color: #c90036;
}

#listSpan {
    color: #c90036;
}

#searchButton {
    color: white;
    background-color: #87233f;
}

#searchButton:hover {
    background-color: #5e192d;
}

#listButton {
    color: white;
    background-color: #49a393;
}

#listButton:hover {
    background-color:#2d635a;
    border-color: #2d635a;
    box-shadow: #2d635a;
}



