<% layout('layouts/boilerplate.ejs') %>
<h1>Καταστήματα</h1>

<form action="/shops/new">
    <button type="submit">Submit</button>
</form>



<div id='map' style='width: 400px; height: 300px;'></div>


<div>
    <%= shops%>

</div>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const allShops = <%- JSON.stringify(shops) %>
    const theList = <%- JSON.stringify(list) %>

</script>




<script src='/javascripts/showPageMap.js'>
</script>