<% layout('layouts/boilerplate') %>

<form action="/account" method="POST">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Η Διεύθυνσή σας</label>
        <input type="text" class="form-control" id="address" name="address" value="<%= currentUser.address %> ">
    </div>
    <button type="submit" class="btn btn-primary">Αλλαγή</button>
</form>