<% layout('layouts/boilerplate') %>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-8 col-xl-6">
                <div class="card-shadow">
                    <img class="card-img-top"
                        src="https://res.cloudinary.com/dlsbinpn6/image/upload/v1610702667/ShopList/neonbrand-SvhXD3kPSTY-unsplash_u4qcfq.jpg"
                        alt="">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Σύνδεση</h5>
                        <form action="/login" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Όνομα Χρήστη</label>
                                <input type="text" class="form-control" id="username" name="username" autofocus
                                    required>
                                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                    Παρακαλώ εισάγετε Όνομα Χρήστη.
                                </div>

                            </div>



                            <div class="mb-3">
                                <label class="form-label" for="password">Κωδικός</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                    Παρακαλώ εισάγετε Κωδικό.
                                </div>

                            </div>
                            <button class="btn btn-success btn-lg btn-block">Σύνδεση</button>

                            <div class="mt-5">
                                <h2>Δεν έχετε λογαριασμό; </h2>
                                <a href="/register">Δημιουργία Λογαριασμού</a>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>