<% layout('layouts/boilerplate') %>
<h1>Σύνδεση</h1>
<form action="/login" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Όνομα Χρήστη</label>
        <input type="text" class="form-control" id="username" name="username" required>
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
            Παρακαλώ εισάγετε Όνομα Χρήστη.
        </div>

    </div>



    <div class="mb-3">
        <label class="form-label" for="password">Κωδικός</label>
        <input type="password" class="form-control" id="password" name="password" required>
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
            Παρακαλώ εισάγετε Κωδικό.
        </div>

    </div>
    <button class="btn btn-success btn-lg">Σύνδεση</button>

    <div class="mt-5">
        <h2>Δεν έχετε λογαριασμό; </h2>
        <a href="/register">Δημιουργία Λογαριασμού</a>
    </div>

</form>